<!DOCTYPE html>
<html>
  <head>
    <title>Notifyme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <%= link_to "Account", current_user %>&nbsp;|&nbsp;
        <%= link_to "Log out", logout_path, method: :delete %>
      <% end %>
    </header>

    <section>
      <% flash.each do |message_type, message| %>
        <div><%= message %></div>
      <% end %>

      <%= yield %>
    </section>

    <footer>
    </footer>
  </body>
</html>
